text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

text[class~="output_label"] {
	font-weight: bold;
}

g[class~="delay_line"] path,
g[class~="submit_line"] path,
g[class~="gpu_line"] path,
g[class~="renderer_gpu_line"] path {
	stroke: black;
	stroke-width: 5;
}

g[class~="trans_begin"] path {
	stroke: black;
	stroke-width: 1;
}

g[class~="trans_begin"] circle {
	stroke-width: 0;
	fill: green;
}

g[class~="trans_post"] path {
	stroke: black;
	stroke-width: 1;
}

g[class~="trans_post"] circle {
	stroke-width: 0;
	fill: blue;
}

g[class~="vblank"] path {
	stroke: #b00;
	stroke-width: 1;
}

g[class~="vblank"] circle {
	stroke-width: 0;
	fill: #b00;
}

g[class~="not_looping"] path {
	fill: #ddd;
	stroke-width: 0;
}

g[class~="damage"] path {
	stroke: black;
	stroke-width: 1;
}

g[class~="damage"] circle {
	stroke-width: 0;
	fill: #505;
}

path.axis, path.major_tick {
	stroke: #000;
	stroke-width: 1;
}

path.minor_tick {
	stroke: #888;
	stroke-width: 1;
}

text.tick_label {
}

