text {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

g[class~="delay_line"] path,
g[class~="submit_line"] path,
g[class~="gpu_line"] path {
	stroke: black;
	stroke-width: 5;
}

g[class~="trans_begin"] path {
	stroke: black;
	stroke-width: 1;
}

g[class~="trans_begin"] circle {
	stroke-width: 0;
	fill: green;
}

g[class~="trans_post"] path {
	stroke: black;
	stroke-width: 1;
}

g[class~="trans_post"] circle {
	stroke-width: 0;
	fill: blue;
}

path.axis, path.major_tick {
	stroke: #000;
	stroke-width: 1;
}

path.minor_tick {
	stroke: #888;
	stroke-width: 1;
}

text.tick_label {
}

